<%= stylesheet_link_tag "style" %>
<h1>Add New Service Provider </h1> 

<%= render 'form' %>
<p> 
	<%= link_to 'Back to Providers', providers_path %> 
</p>
<p>
	<%= link_to 'Back to Admin Interface', root_path %>
</p>