<%= stylesheet_link_tag "style" %>
<h1>Create new Service </h1> 

<%= render 'form' %>
<p> 
	<%= link_to 'Back to Services', services_path %> 
</p>
<p>
	<%= link_to 'Back to Admin Interface', root_path %>
</p>