

 <div class ="admin_sidebar">
 <%= link_to 'Back to Admin Interface', concerns_path, class: 'btn btn-default' %> 
<p>

<br/><a href = "#section1">Database Structure</a> 
<br/><a href = "#section2">-Index View</a> 
<br/><a href = "#section3">-Categories and Concerns</a> 
<br/><a href = "#section4">-Services</a> 
<br/><a href = "#section5">-Service Providers</a> 
<br/><a href = "#section6">Adding Resources</a> 
<br/><a href = "#section7">-Concerns</a> 
<br/><a href = "#section8">-Categories</a> 
<br/><a href = "#section9">--Naming Conventions for Categories</a>
<br/><a href = "#section10">-Services</a>
<br/><a href = "#section11">-Service Providers</a>
<br/><a href = "#section12">--Service Provider Grey Box</a>
<br/><a href = "#section13">--Adding Associated Services</a>
<br/><a href = "#section14">Editing Resources</a>
<br/><a href = "#section15">Deleting Resources</a>
<br/><a href = "#section16">Admin Accounts</a>
<br/><a href = "#section17">User Requests</a>
<br/><a href = "#section18">-Types of Requests</a>
<br/><a href = "#section19">--Comments/Suggestion</a>
<br/><a href = "#section20">--Bug Report</a>
<br/><a href = "#section21">--New Resources</a>
<br/><a href = "#section22">---For a New Concern</a>
<br/><a href = "#section23">---For a New Category</a>
<br/><a href = "#section24">---For a New Service Provider</a>
<br/><a href = "#section25">---For a New Service</a>
<br/><a href = "#section26">Comments</a>
<br/><a href = "#section27">Referrals</a>
<br/><a href = "#section28">SQL Based Backend</a>
 
	</p>
</div>
