 <div class ="admin_sidebar">

 <p>
 Area of Concern: <br/>

<%= link_to @concern.name, browse_concern_path %> 
 </p> 
 
  <p>
 Category: 
<br/>
 None
 </p> 
 
  <p>
Service: 
<br/>
 None
 </p> 
 
 
</div>