 <div class ="admin_sidebar">

 <p>
 <% if @concern %> 
 Area of Concern: <br/>
<% if @concern %> 
<%= link_to @concern.name, browse_concern_path %> 
<% end %>
 </p> 
 
  <p>
 Category: 
<br/>
<%= link_to @category.name, {:controller => "browse", :action => "category", :concern => @concern.id} %>
 </p> 
 
  <p>
Service: 
<br/>
 <%= link_to @service.title, {:controller => "browse", :action => "service", :category => @category.id, :concern => @concern.id} %>
	
 </p> 
 <% else %> 
 Service: 
<br/>
 <%= link_to @service.title, :back %>
	
 <% end %>
 
</div>