

 <div class ="admin_sidebar">
 <%= link_to 'Browse Database', browse_concern_path, class: 'btn btn-default' %> 
<p>

<br/><a href = "#section1">The Database Structure and What is a Concern?</a> 
<br/><a href = "#section2">How to Navigate the Database</a> 
<br/><a href = "#section3">Browse by Concern</a> 
<br/><a href = "#section4">Comments</a> 
<br/><a href = "#section5">Referrals</a> 
<br/><a href = "#section6">Search</a> 
<br/><a href = "#section7">Make a Request</a> 
<br/><a href = "#section8">Types of Requests</a> 
<br/><a href = "#section9">Comment/Suggestion</a>
<br/><a href = "#section10">Bug Report</a>
<br/><a href = "#section11">New Resources</a>
<br/><a href = "#section12">New Concern</a>
<br/><a href = "#section13">New Category</a>
<br/><a href = "#section14">New Service Provider</a>
<br/><a href = "#section15">New Service</a>
<br/><a href = "#section16">The Admin Interface</a>
 
	</p>
</div>
