<%= render 'shared/browse_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/browse_side_req' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->
	
	
	<h1>Request Submitted</h1> 
	<h5>Thank you for submitting your request</h5> 
	
		</div> 
	</div> 
</div> 