<div class="jumbotron">
  <h1>CareLibrary</h1>
  <p>Palliative care resources at your fingertips.</p>
  <p><%= link_to "Learn more", about_path, class: "btn btn-primary btn-md" %> <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-md" %></p>
</div>
