<%= render 'shared/browse_nav' %> 

<div id="sidebar" class="col-xs-4">
          <!-- sidebar content -->
		  <%= render 'shared/userguide_side' %> 
		 
        </div>

<h1>Palliative Care Database User Guide </h1>	
<div class="container">
  <div class="row">

	<div class="col-xs-8" >




<a name = "section1">
<h2> The Database Structure and What is a Concern?</h2>
</a>


<br/>
Concerns are the broadest category in the database. Since the intention of the database is to store and locate resources for members with serious or life limiting conditions, it made sense to first sort the resources by the diagnosis of the person who would benefit from it. Since the care management program encompasses all aspects of life when dealing with a  serious or life limiting condition, there are also resources that pertain to areas of care that all members and their caregivers may find helpful, regardless of their diagnosis. 
<br/><br/> 
So, a concern is just a broad category? Why not call them categories? 
<br/><br/> 
Inside each Concern are many associated Categories. Even though Concerns and just broad categories, the database refers to them as Concerns, to differentiate them from Categories, which are smaller, more refined sections. 
<br/><br/> 
Categories may be specific to one Concern.
<br/>
Under the Concern “Cancer” we will find the Category “Cancer Support Groups” which does not belong to any other Concern. 
<br/> 
A Category may also belong to multiple Concerns. 
<br/><br/> 
The Category “Caregiver Respite” can be found under the Concern “Caregivers” and under the Concern “Hospice” as well. 
<br/><br/> 
What do you do if you think that a Category is in the wrong place, or should belong to additional Concerns? 
<br/>
Please Make a Request. See <a href = "#section7">Make a Request</a>  for more information. 
<br/><br/> 
Inside each category, there are a number of Services that you may wish to refer members to. Services belong to Categories, and may be a member of many Categories. For instance, websites that offer clinical trials often offer trials for multiple diagnoses. Their Service “Clinical Trials” will be included under Categories for all of those diagnoses. 
<br/><br/> 
Each Service is provided by a Service Provider. Each Service belongs to its Provider. While there might be multiple websites that provide a Service that is called “Clinical Trials” each website would have its own clinical trials Service entry, even if the Services have the same or similar names. 
<br/><br/> 
Providers may provide multiple Services, such as clinical trials and educational materials. Each Service that the Provider provides will be listed separately, but on the Provider’s page, you can view a list of all the Services that are listed for that Provider in the database. 
<br/><br/> 
What do you do if you know about a Service provided by a Provider, and do not see it listed in the database? 
<br/>
Please Make a Request. See <a href = "#section7">Make a Request</a>  for more information.
<br/><br/>
Here is a diagram of the database structure in it's entirety. 
<br/><br/>
<%= image_tag("FunnelDesign.jpg", :alt => "database structure diagram") %>
<br/><br/>As you can see, the different sections of the database get progressively smaller as they nest inside each other, starting with Concerns as the largest group, and narrowing down to individual services. 
<br/><br/>
<a href = "#section1">Back to Top</a> <br/> 

 <a name = "section2"> </a>
<h2>How to Navigate the Database </h2>

 <a name = "section3">
<h3>Browse by Concern </h3>
</a>

The front page of the database shows a list of Concerns. 
<br/> 
Assess the needs of the member. Do they need resources that are specific to their diagnosis? 
<br/> 
If so, choose their diagnosis from the list of concerns. 
<br/> 
If not, is their need related to any of the non-diagnosis concerns? 
<br/> <br/>
If there is nothing in the database that seems relevant to the member’s needs, please Make a Request to let us know what additional resources, Categories or Concerns the database needs to best help you help members. See <a href = "#section7">Make a Request</a>  for more information. 
<br/> <br/>
Once you have located a likely Concern, follow the link. 
<br/> 
You will then see a list of Categories related to that Concern. 
<br/> 
Select a likely Category and follow the link. 
<br/> 
You will then see a list of Services, with their Service Provider names, and their general location. 
<br/> 
At the top of the list of Services, you may choose to use the drop-down menu to filter Services by location. 
<br/> 
Not all locations will have available Services in each Category. 
<br/> 
Select a Service by following the link. 
<br/> 
On the Service Provider’s page, you will have access to the Provider’s contact information. 
<br/>
<a href = "#section1">Back to Top</a> 
<br/> 

 <a name = "section4">
<h3>Comments</h3>
</a>
Please utilize the comments section to get more information about the Provider, provided by other Care Managers, and leave your own feedback on a Provider. 
<br/><br/> 
When leaving a comment, you can choose what name to leave, as the commenter. The database does not give users the option to log in, so you may choose to leave your comments anonymous. However, comments that are clearly identified with the commenter's name will likely be held in higher regard and their contents will likely be taken more seriously. 
<br/><br/> 
If you reconsider the content of your comment after posting (or notice an error like a spelling mistake) you can contact the administrators to have your comment removed by Making a Request. 
<br/> 
See <a href = "#section7">Make a Request</a> for more information. 
<br/><a href = "#section1">Back to Top</a> <br/> 
 <a name = "section5">
<h3>Referrals </h3>
</a>
If you decide to provide the Provider’s contact information to a member, please click on the Referral Made button. The Referral Made button tracks the number of referrals that are made to each specific provider. This information is valuable data that may be used in a number of ways, and could influence future relationships between Regence and Service Providers. Please remember to click the Referral Made button whenever you make a referral to a member. 
<br/><a href = "#section1">Back to Top</a> <br/> 
 <a name = "section6">
<h3>Search</h3> 
</a>
You can also navigate the database by using the search bar to search the database using keywords. Keywords may include city or state names, or words related to diagnoses or services. 
<br/><br/> 
It is recommended that you search for single words or phrases, such as “Seattle” or “back pain” and not compound search terms like “support groups Alzheimer’s Portland”. Although Google may be adept at parsing complex searches, this database is not, and complex searches will likely turn up zero results. 
<br/><a href = "#section1">Back to Top</a> <br/> 
 <a name = "section7">
<h2> Make a Request </h2>
</a>
Requests are a very important part of the database. They are how you, the users, let the database administrators know about your needs. This database is meant to be used and to be useful for you and for that, we need your help. 
<br/><br/> 
The Make a Request link is located on the top of the screen, in the Navigation Bar. Follow the link to a form, where you can send a message to the database administrators. 
<br/><br/> 
There are several different fields and options in the Make a Request form. 
<br/><br/> 
Please do not turn away from making a request because the form looks complex or confusing. All requests go to the same place, and all of them will be reviewed. Please just fill out the form as best you can, and feel free to skip over any fields that seem irrelevant or confusing. 
<br/><br/> 
First, look for any words in brackets <span title= "Hover text is a glorious and many-splendored thing">[like this]</span> .  They contain hover-text, which you can see by hovering your mouse pointer over the word for a few seconds. Try it <span title= "Masterfully done!">[here]</span>. 
<br/><br/> 
The hover-text contains explanations and examples to help you better understand the form. 
<br/><br/> 
 <a name = "section8">
<h3>Types of Requests </h3>
</a>
The Make a Request form asks you to tell us what kind of request you are making. It is helpful for administrators to understand what you are asking for. 
<br/><br/> 
Again, all requests are put into the same system, so don’t worry about selecting the wrong type, just make your best educated guess. 
<br/><a href = "#section1">Back to Top</a> <br/> 
 <a name = "section9">
<h4>Comment/Suggestion</h4>
</a>
This the most general type of request. Make this kind of request if you have any kind of general message for the administrators about anything having to do with the database.  
<br/><br/> 
Some examples of times when you might want to use this type when making a request:
<br/><br/> 
If you have an idea for a new feature. If you find a certain task to be difficult and want to suggest an easier way. If you catch a spelling error or notice a grammatical error. If you are confused by any point in this guide and think it needs clarification, these are all good reasons to make a Comment/Suggestion. 
<br/><a href = "#section1">Back to Top</a> <br/> 
 <a name = "section10">
<h4> Bug Report </h4> 
</a>
This is for reporting technical issues with the database.  A Bug Report is a good idea if you follow a link and wind up with an error message. Also, submit a bug report if something that worked before has now stopped working, or if you try to do something and get a weird result. If you are concerned that your issue may not be a bug, you can submit a Comment/Suggestion instead, but all requests go to the same place, so either type would be fine. 
<br/><br/> 
 <a name = "section11">
<h4>New Resources </h4>
</a>
This database is a living document. Hopefully, the most common requests are going to be suggestions of new resources to add to the database. 
<br/><br/> 
 <a name = "section12"></a>
 <strong>New Concern</strong><br/>
If you look through the list of Concerns and do not find the type of Concern you are looking for, please tell us what you were looking for, and Make a Request for a New Concern. 
<br/><br/> 
 <a name = "section13"></a>
  <strong>New Category</strong><br/>
If you look at a specific Concern, but don’t find a Category that would hold the types of Services you are looking for, please Make a Request for a New Category. If you can, tell us what Concern you were looking under, because that Concern would be the Parent Resource. If you’re not sure what the Parent Resource would be, it is fine to leave it blank. 
<br/><br/> 
 <a name = "section14"></a>
  <strong>New Service Provider</strong><br/>
If you look through the database and don’t find what you are looking for, you will probably turn to Google to find additional resources. If you find something that you think is valuable enough to refer a member to, please also add it to the database by create a New Service Provider Request. 
<br/><br/> 
Please provide as much detail as is necessary, to allow the administrators to add the new resource to the database, including things like website, location, address, and what kinds of services the resource provides. 
<br/><br/> 
If you know what kind of Concern or Category your new Service Provider would fit under, include that information in the Parent Resource field. 
<br/><br/> 
 <a name = "section15"></a>
  <strong>New Service</strong><br/>
Some Service Providers provide lots of valuable Services. We may have a Provider in the database, but have incomplete information about all the Services they provide. If that is the case, make a New Service Request, and tell us about those other Services. We want to make sure that the information provided in the database is as helpful as possible, and it would be a shame to miss out on making a referral to a great Service Provider because they provide a Service that is not listed. 
<br/><br/> 
Please add the name of the Service Provider as the Parent Resource when making a New Service Request. 
<br/><a href = "#section1">Back to Top</a> <br/> 
 <a name = "section16">
<h2>The Admin Interface </h2>
</a>
The Admin Interface is password protected and requires an administrator account to access. Most users will not have any reason to need access to the Admin Interface, as they use the database to help members locate resources. 
<br/><br/> 
Inside the Admin Interface, administrators can add, edit and delete resources that appear in the Palliative Care Database. 
<br/><br/> 
They can also delete comments and respond to User Requests.
<br/><br/>  
To contact the administrators about matters concerning the database, please Make a Request. 
<br/><br/> 
You may create an account if you feel that you have a reason to access the Admin Interface. Accounts must be approved before they can perform administrative actions. 
<br/><br/> 
Please email Leanne.Spears@regence.com with your name, the email with which you created an account, and your reason for requesting access to expedite the account approval process. 
<br/><br/><br/><br/>