
<%= render 'shared/admin_nav' %> 

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
		  <%= render 'shared/admin_side' %> 
		 
        </div>
	<div id="main-content" class="col-xs-9">
	  <!--  main content -->
			


			<h1>Edit Category</h1> 
		

			<div id="form-container" class = "container"> 
				<div class = "row">
					<div id="new-form" class = "col-xs-11">
					<%= render 'form' %>
					</div> 
				</div>
			</div>
		</div>
	</div> 
</div>