<%= form_for [:admin, @user] do |f| %>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :admin %> Admin
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-default" %>
    <%= link_to "Cancel", admin_users_path %>
  </div>
<% end %>
